/* Home styles */

.panelGeneral {
    padding: 30px;
}

.panelGeneral h1 {
    text-align: center;
    padding: 20px;
}

.panelGeneral table {
    text-align: center;
    vertical-align: middle;
}

.modal-body-compact {
    padding: 5px 0px 5px 15px;
}



/* End Home styles */

/* Medias Queries */

/* Extra large devices (large laptops and desktops, 1200px and and down) */

/* End Extra large devices (large laptops and desktops, 1200px and and down) */

/* Large devices (laptops/desktops, 992px and down) */

/* End Large devices (laptops/desktops, 992px and down) */

/* Medium devices (landscape tablets, 768px and down) */

/* End Medium devices (landscape tablets, 768px and down) */

/* Small devices (portrait tablets and large phones, 600px and down) */

@media (max-width: 600px) {

    .panelGeneral {
        padding: 0px;
    }

    .panelGeneral h1 {
        font-size: 20px;
        padding: 15px;
    }

    .panelGeneral table {
        font-size: 8px;
    }

}

/* End Small devices (portrait tablets and large phones, 600px and down) */

/* Extra small devices (phones, 480px and down) */

/* End Extra small devices (phones, 480px and down) */

/* End Medias Queries */